@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist 

<h2>Are you sure you want to delete @Model.Name?</h2>
<br>
@using (Html.BeginForm())
{
  <h3><input type="submit" value="Delete"/></h3>
}
<br> 
<h3>@Html.ActionLink("Back to List", "Index")</h3>